
.dashboardContainer{
    padding-right:10%;
}
.logoImage{
    padding:0 !important;
    height: 1rem !important;

}
.logoImage img{
    width:5rem;
    height:5rem;
    margin-top: -10px;
    margin-bottom: -15px !important;
}
.navTextsContain{
     padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: 600; 
}
.notification{
    text-align: right;
}

.employerNavBar{
    background-color:#333;
    width:10%;
    position: fixed;
    height: 100vh;
    left:90%;
    transition: all 0.5s;
    color:rgb(223, 222, 222);
}
.employerNavBarSmall{
    background-color:#333;
    color:rgb(223, 222, 222);
    width:4%;
    position: fixed;
    height: 100vh;
    left:96%;
    transition: all 0.5s;
}
.navItem{
    position:absolute;
    top:1rem;
    width:100%;
}
.navLink{
    width: 95%;
    margin:auto;
    border-radius: 5px;
}
.navLink:hover{
    background-color: rgb(37, 206, 209,0.9);
    color:black;
}
.employerNavBar .navLink{
    margin-bottom: 0.5rem;
    height: 3rem;
    padding-top: 0.6rem;
    padding-left: 0.5rem;
 }
 .employerNavBarSmall .navLink{
    margin-bottom: 1rem;
    height: 3rem;
    padding-top: 0.6rem;
    padding-left: 0rem;
 }
 @media (max-width:1500px){
    .employerNavBar{
        width:15%;
        left:85%;
    }
    .dashboardContainer{
        padding-right:15%;
    }
    .companyName{
        text-align: left;
    }
 }
 @media (max-width:1000px){
    .employerNavBar{
        width:20%;
        left:80%;
    }
    .employerNavBarSmall{
        width:6%;
        left:94%;
    }
    .dashboardContainer{
        padding-right:20%;
    }
    .notification{
        text-align: left;
    }
    .navTextsContain{
        padding-left: 1rem;
   }
 }
 @media (max-width:800px){
    .employerNavBar{
        width:25%;
        left:75%;
    }
 }
 @media (max-width:768px){
    .employerNavBar{
        width:40%;
        left:60%;
        height: 50%;
    }
    .employerNavBarSmall{
        width:10%;
        left:90%;
        height: 8%;
        overflow:hidden;
    }
    .dashboardContainer{
        padding-right:0%;
    }
    .employerNavBarSmall .navLink{
        margin-top: -0.5rem;
        height: 3rem;
        padding-top: 0.7rem;
        padding-left: 0rem;
     }
 }
