.paginationContainer{
   margin-top: 10%;
    width:80%;
  margin-left: 5%;
  padding:0 !important;
}
.paginationContainer  span a{
    border-radius: 50% !important;
    color:#25CED1;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}
.active a{
    background-color: #25CED1 !important;
    color:white !important;
}
.active > *:focus{
    box-shadow: none;
    color:white;
}
.last a{
    background-color: red;
}
.rightIcons{
    border:none;
    border-top-right-radius:50% ;
    border-bottom-right-radius:50%;
    width:30px;
    background-color: var(--color-text);
    position: relative;
    left:80%;
}
.rightIcon{
    border:none;
    display: none;
}
 /* .rightIcon{
    border:none;
    background-color: transparent !important;
} */ 
/* .rightIcon > *:active,
.rightIcon > *:hover,
.rightIcon > *{
    border:none ;
    border-top-left-radius:0% !important;
    border-bottom-left-radius:0% !important;
    border-top-right-radius:50% !important;
    border-bottom-right-radius:50% !important;
    width:80%;
    float: right; 
    padding-left:0; 
    background-color: var(--color-text);
} */
.leftIcon{
    border:none;
    border-top-left-radius:50% ;
    border-bottom-left-radius:50%;
    width:30px;
    background-color: var(--color-text);

}
 .rightIcons:hover,
.leftIcon:hover{
    color:var(--color-primary);
}
@media (max-width:1300px){
    .paginationContainer{
            width:90% !important;
          margin-left: 5% !important;
        }
}
@media (max-width:1100px){
    .paginationContainer{
            width:98% !important;
          margin-left: 0% !important;
        }
        .rightIcons{
            left:84%;
        }
}
@media (max-width:1000px){
    .paginationContainer{
            width:100% !important;
          margin-left: 0% !important;
          
        }
        .paginationContainer  span a{
            margin-right: 0.7rem;
            margin-left: 0rem;
        }
        .rightIcons{
            left:80%;
        }
}

@media (max-width:768px){
    .rightIcon button{
        margin-left:-7px; 
    }
    .paginationContainer{
       width:80% !important;
     margin-left: 15% !important;
   }
   .paginationContainer  span a{
    margin-right: 0.7rem;
    margin-left: 0.8rem;
}
.rightIcons{
    left:85%;
}
}
@media (max-width:576px){
    .paginationContainer{
       width:100% !important;
     margin-left: 0% !important;
   }
   .paginationContainer  span a{
    margin-right: 0.7rem;
    margin-left: 0.5rem;
}
   
}

