.blog-entry{
    background: url('../public/images/abstract.avif') no-repeat;
    height: 70vh;
    background-size: cover;
    background-position-y:-80px;
    padding-top: 8%;
    padding-left: 8% !important;
    margin-top: 0%;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
  .blog-entry p{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;  
  }
  .blog-entry h1{
    font-size: 3rem;
    font-weight: bold;
    padding-right: 35%;
    margin-top: -20px;
    word-spacing: 1rem;
    line-height: 3rem;  
  }
  .blog-content{
    padding:0 7% 5% !important;
    padding-left: 10% !important;
  }
  .blog-content .single-blog{
    background-color:#CFF8F9;
    padding:20px;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding-bottom: 5rem;
    cursor: pointer;
<<<<<<< HEAD
    padding-bottom: 20px;
  }
  .blog-content .single-blog img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  .blog-content .single-blog span{
	  transform: perspective(1px) translateZ(0);
	  transition: 0.4s;
  }
  .blog-content .single-blog h1{
    font-size: 1.8rem;

    font-weight: 600;
    line-height: 2rem;
  }
  .blog-content .single-blog span::before{
    content: '\2192';
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    padding-top:30%;
    padding-left:40%;
    color:white; 
    background:var(--color-primary);

    clip-path: inset(0 100% 0 0);
    opacity: 1;
    transition: 0.4s;
  }
   .blog-content .single-blog:hover span::before{
      clip-path: inset(0 0 0 0);
  } 
  .blogDetailContainer{
    padding: 3% 0 10% 10%;
    color: rgb(122, 122, 122);
  }
.blogDetailHeading{
  font-weight: 600;
  font-size: 3rem;
  padding:0 20% 0% 0% !important;
  color:black;
}
.arrowBack{
  background-color: transparent !important;
  color:var(--color-primary);
  border:none;
  padding: 0 !important;
}
.arrowBack:hover{
  background-color:var(--color-primary) !important;
  color:white;
  border:none;
  padding: 0 !important;
}
=======
  }
  .blog-content .single-blog img{
    width:100%;
    height:125%;
    object-fit: cover;
  }
  .blog-content .single-blog span{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    position: relative;
	  transform: perspective(1px) translateZ(0);
	  transition: 0.4s;
  }
  .blog-content .single-blog h1{
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
  }
  .blog-content .single-blog span::before{
    content: '\2192';
    position:absolute;
    top:-158px;
    left:0px;
    width: 100%;
    height:46vh;
    padding-top:40%;
    padding-left:30%;
    color: white; 
  background:var(--color-primary);
    clip-path: inset(0 100% 0 0);
    opacity: 1;
    transition: 0.4s;
  }
   .blog-content .single-blog:hover span::before{
  /*     background-color:green;
      left:-226px;
      display: block; */
      clip-path: inset(0 0 0 0);
  } 
  .blogDetailContainer{
    padding: 3% 0 10% 10%;
    color: rgb(122, 122, 122);
  }
.blogDetailHeading{
  font-weight: 600;
  font-size: 3rem;
  padding:0 20% 0% 0% !important;
  color:black;
}


>>>>>>> 9a288ccd2a12e9bf6a89d5506ae83a2afbedb476
  @media (max-width:768px){
    .blog-entry{
        background: url('../public/images/abstract.avif') no-repeat;
        height: 70vh;
        background-size: cover;
        background-position-y:-80px;
        text-align: center;
        padding:20% 5% 0% !important;
      }
      .blog-entry p{
        font-size: 1.2rem;
        margin-bottom: 2rem;  
      }
      .blog-entry h1{
        font-size: 1.5rem;
        font-weight: bold;
        padding-right: 0%;
       /*  margin-top: -20px; */
        word-spacing: 0rem;
        line-height: 2rem;  
      }
      .blog-content .single-blog h1::before{
       display: none !important;
      }
      .blog-content .single-blog img{
        width:100%;
        height:100%;
        object-fit: cover;
      }
<<<<<<< HEAD
      .blogDetailContainer{
        padding: 3% 0 10% 2%;
      }
      .blogDetailHeading{
        font-size: 2rem;
        padding:20px 0% 0% 0% !important;
        
      }
=======
>>>>>>> 9a288ccd2a12e9bf6a89d5506ae83a2afbedb476
  }