.jobs-footer{
    background:url('../public/images/pattern_2x.webp') no-repeat;
    background-size: cover; 
    font-size: 0.9rem;
    position: relative;
    z-index: 1;
    padding:0 !important;
    
  }
  .jobs-footer .footer-overlay{
    background-color: #ebebeb;
    opacity: 0.5;
    position: absolute;
  width:100% !important;
  height: 100% !important;
  z-index: -1;
  }
  .jobs-footer ul{
    list-style: none;
    margin-top: 40px;
    text-align: center;
  }
  .jobs-footer p{
   text-align: center;
    margin-top: 40px;
  }
  .jobs-footer ul li{
    display: inline;
    margin-right: 10%;
  }
  .jobs-footer ul li a {
    color:black;
  }
  .jobs-footer ul li a:hover {
    color:var(--color-primary);
  }
@media (max-width:576px){

}  