.reg-type-container{
    padding:30px 10% 130px !important;
      background-color: rgb(250, 250, 250);
        text-align: center ;
    }
    .reg-type-container .log-side-image{
      display: block;
      padding-top:4%;
      padding-left: 1%;
      max-width: 100%;
      object-fit: cover;
      transform:scaleX(1.1) scale(1.1);
    }
    .reg-type-container h1{
       margin-bottom: 2rem;
       font-weight: 400;
    }
    .reg-type-container .login-form{
      border-radius: 20px;
      padding:2rem;
      padding-top:5rem;
     box-shadow: 0px 0px 16px -9px rgba(0,0,0,0.5) !important;
    }
    .reg-type-container .reg-type-buttons{
      justify-content: center;
    }
    .reg-type-container .login-form .can-button,
    .reg-type-container .login-form .emp-button{
      width: 35%;
      height: 50px;
      margin-top: 1rem;
      border-radius: 50px;
      background-color: var(--color-primary);
      color:var(--color-white);
      border:none;
      font-size: 1rem;
      margin:2rem 0;
      padding-top: 0.7rem;
      font-weight: 600;
    }
    .reg-type-container .login-form .can-button:hover,
    .reg-type-container .login-form .emp-button:hover{
      background-color: var(--color-primary);
      filter: brightness(80%);
    }
    .login-form .sign-link{
        text-align: center;
        color:black;
        text-decoration: none;
        cursor: pointer;
        margin-top: 3rem;
        margin-bottom: 2rem;
      }
      .login-form .sign-link span{
        text-align: center;
        color:var(--color-primary);
        font-weight: bold;
        margin-left: 1px;
      } 
@media (max-width:576px){
    .reg-type-container .log-side-image
{
  display: none !important;
}
.reg-type-container{
  padding:30px 5% 100px !important;
  }
  .reg-type-container .login-form{
    padding:0rem;
    padding-top:5rem;
  }
  .reg-type-container .login-form .can-button,
.reg-type-container .login-form .emp-button{
  width: 50%;
  padding-top: 0.5rem;

}
}